.login-form-main {
  min-height: 100vh;  
  background-image: linear-gradient(90deg, #fff, #c3c5e5);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-main-content {
  width: 490px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);
  padding: 55px 60px 50px;
  background: #fff;
}

.btn-primary {
  background: #484dca;
  border: 0;
  padding: 8px 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.full {
  width: 100%;
}